*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Orbitron,sans-serif;

background:#050b18;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

overflow:hidden;

color:white;

}

.grid{

position:fixed;

width:100%;

height:100%;

background-image:

linear-gradient(rgba(0,170,255,.08) 1px,transparent 1px),

linear-gradient(90deg,rgba(0,170,255,.08) 1px,transparent 1px);

background-size:40px 40px;

animation:gridMove 15s linear infinite;

}

.card{

width:90%;

max-width:420px;

padding:40px;

border-radius:20px;

background:rgba(10,18,35,.78);

border:1px solid rgba(0,170,255,.4);

backdrop-filter:blur(14px);

box-shadow:

0 0 40px rgba(0,170,255,.15);

text-align:center;

animation:appear 1s;

}

.status{

color:#00d9ff;

font-size:13px;

letter-spacing:2px;

margin-bottom:25px;

}

h1{

font-size:48px;

color:#7fdfff;

letter-spacing:6px;

text-shadow:

0 0 15px #00c3ff;

margin-bottom:10px;

}

h2{

font-size:15px;

font-weight:400;

letter-spacing:3px;

opacity:.8;

margin-bottom:30px;

}

.line{

height:1px;

background:#00d9ff;

margin-bottom:30px;

opacity:.4;

}

.info{

display:flex;

justify-content:space-between;

margin-bottom:40px;

text-align:left;

}

.info span{

font-size:11px;

opacity:.6;

}

.info p{

margin-top:8px;

font-size:15px;

color:#7fdfff;

}

button{

width:100%;

padding:18px;

background:#00bfff;

border:none;

border-radius:12px;

font-family:Orbitron;

font-size:15px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

box-shadow:

0 0 25px #00bfff;

}

.footer{

margin-top:35px;

font-size:11px;

letter-spacing:2px;

opacity:.45;

line-height:22px;

}

@keyframes appear{

from{

opacity:0;

transform:scale(.92);

}

to{

opacity:1;

transform:scale(1);

}

}

@keyframes gridMove{

from{

transform:translateY(0);

}

to{

transform:translateY(40px);

}

}
